.gasnoble
{background-color:paleturquoise;}
.nometales
{background-color:magenta;}
.halogenos
{background-color:pink;}
.metalesalcalinos
{background-color:lime;}
.alcalinoterreos
{background-color:yellow;}
.metalesdetransicion
{background-color:skyblue;}
.metales
{background-color:Aqua;}
.metaloides
{background-color:red;}
.lantanidos
{background-color:darkorchid;}
.actinos
{background-color:MediumBlue	;}
td:hover{opacity: 7; transition: all ; visibility: visible; background:silver; transform: scale(1.5);}
td{transition: width 1s, height 1s, transform 1s;}
.zoom{transition: width 1.5s, height 1.5s, transform 1.5s;}
.zoom:hover{ transform: scale(1.5);}
/*clase para ventana emergente */
.modal-contenido{background-color:rgba(40,114,51,0.5);color:#ffffff; width:300px; padding: 10px 20px; box-shadow: 5px 5px 5px rgba(12,12,12,0.527) margin: 2rem auto; position: relative; border-style:outset; border-radius: 6px; overflow: hidden; z-index: 1; backdrop-filter: saturate(180%) blur(20px);}
.modal{background-color: rgba(0,0,0,.6); position:fixed; top:0; right:0; bottom:0; left:0; opacity:0; /*esta pero no la vemos*/ pointer-events:none; transition: all 1s;}
:target{opacity:1; pointer-events:auto; border-radius: 8px;}